body,
body.desktop {
	background-color: #1a1e22;
}
.desktop .main.nav-wrapper {
	background: #e2cf58;
	background-blend-mode: overlay, normal, normal;
	box-shadow: none;
}
#sideNav .nav-item-content.games i,
.main.nav-wrapper .nav-item .navlink i[class^='icon-']:not(.icon-mobile),
.scroll-wrapper[_home] .slider-content i {
	filter: invert(1);
}
.desktop .main.nav-wrapper .nav-item .navlink {
	color: #1a1e22;
	font-weight: bold;
}
.main.nav-wrapper .nav-item-content {
	background-color: #c6b653;
	border-bottom: 15px solid #e2cf58;
}
.main.nav-wrapper .main-nav a.active,
.main.nav-wrapper .main-nav a:hover,
.main.nav-wrapper .nav-item:hover .navlink {
	background-color: #c6b653;
	border-radius: 16px 16px 0 0;
}
.floats-left .fc .fc-right,
.floats-right .fc .fc-left {
	background-color: #c6b653;
}
.header-wrapper .btn.fix {
	border-radius: 4px;
}
.btn-accent {
	background-color: #e2cf58;
	color: #1a1e22;
	border-color: #c6b653;
}
.btn-tertiery {
	background-color: transparent;
	color: #ffffff;
	border-color: #bfbfbf;
}
.info .info-nav.nav-icon a {
	background-color: #282d31;
}
.floats .bg-1 {
	background-color: #282d31;
}
.floats.floats-right .bg-2 {
	background: #282d31;
}
.floats.floats-right .bg-2 .btn-block.btn-primary {
	background: #c6b653;
}
.btn-primary {
	border-color: #e2cf58;
}
.floats-left .fc .fc-left,
.floats-right .fc .fc-right {
	background-color: #282d31;
}
.desktop .site-footer {
	background: #282d31;
}
.u-section-box--bg {
	background: #282d31;
}
.svc-advantage .progress {
	background: #1a1e22;
}
.svc-advantage .card .circle-wrp {
	background: #282d31;
}
.svc-advantage .progress-bar {
	background: linear-gradient(90deg, #eadc85, #e2cf58 95.87%);
}
.svc-advantage .card .circle-wrp > i {
	background: linear-gradient(90deg, #eadc85, #e2cf58 95.87%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.info-centre .content-box li .btn-link {
	background: #23282d;
	box-shadow: none;
	color: #eadc85;
}
.icon-wrp {
	background: #1a1e22;
}
.g-slider-wrapper .pagi-wrp .btn {
	border-radius: 8px;
}
.g-slider-wrapper .pagi-wrp .btn[data-action='next'],
.js-btn-next {
	margin-left: 4px;
}
.btn-link:disabled,
.btn-link:focus,
.btn-link:hover,
.btn-link[disabled] {
	color: #e2cf58;
	opacity: 1;
}
.btn-link {
	color: #ffffff;
}
.g-slider-wrapper.hot .game-title {
	background: #e2cf58;
}
.g-slider-wrapper.new .game-title {
	background: #e4e4e4;
}
.g-slider-wrapper .game-title img.logo {
	filter: invert(1);
}
.g-slider-wrapper .game-title {
	font-weight: bold;
	color: #000;
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary[disabled] {
	border-color: #ff9e00;
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary[disabled] {
	border-color: #e2cf58;
}
.main.nav-wrapper .nav-item-content .auto-box > .a-disabledLink:after,
.main.nav-wrapper .nav-item-content .auto-box > a:after {
	background: radial-gradient(
		circle,
		rgba(235, 220, 127, 1) 0%,
		rgba(198, 182, 83, 1) 90%
	);
	background-image: radial-gradient(
		circle,
		rgba(235, 220, 127, 1) 0%,
		rgba(198, 182, 83, 1) 90%
	);
}
.carousel,
.carousel-inner {
	max-width: 1920px;
	position: relative;
	margin: auto;
}
.carousel-indicators li.active {
	background: var(--primary);
}
.carousel-indicators .active {
	width: 24px;
	height: 9px;
}
.carousel-indicators li {
	background: #1a1e2288;
	width: 42px;
	height: 8px;
}
